*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #1f2937;
   
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.navbar li a {
    font-size: 24px;
    color: #e5e7eb;
}

.navbar li a:hover {
    color: #b3780d;
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    color: #b3780d;
}

.logo:hover{
    color: #e5e7eb;
    cursor: default;
}

/* hero */

.hero {
    background-color: #1f2937;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.hero-left {
    height: 200px;
    margin-left: 50px;
    flex: 1;

}

.hero-left h2 {
    font-size: 4rem;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-btn {
    background: #b3780d;
    border-radius: 10px;
    width: 110px;
    height: 30px;
    color: #f9faf8;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.hero-btn:hover {
    transform: translateY(-3px);
    background: #b3780d;
    color: #1f2937;
}

.hero-right {
    border: 2px solid #b3780d;
    flex-basis: 50%;
    height: 400px;
    flex: 1;
    object-fit: contain;
}

.hero-right img {
    width: 100%;   
    height: 100%;
}

/* quote and about us section */

q {
    font-weight: bold;
    display: block;
}

.about-us-container {
    height: auto;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #e5e7eb;
    text-align: center;
}

 /* equipment-container section */

.equipment-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    text-align: center;
}

.equipment-container h2 {
    align-self: center;
}

.equipment-container ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.equipment-container li {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    display: inline-block;
}

.equipment-container img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: #b3780d 2px solid;
}

/* membership section */

.membership-container {
    height: au;
    width: 100%;
    padding: 15px;
    background-color: #e5e7eb;
    text-align: center;
}

.tiers-list {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tiers-list li {
    list-style: none;
}

.membership-container h3:hover{
    color: #b3780d;
    cursor: default;
}

/* locations section */

.locations-container {
    height: 615px;
    color: #f9faf8;
    text-align: center;
    line-height: 30px;
}

.location-1 {
    display: flex;
    border: #b3780d solid 4px;
    padding: 10px;
}

.location-1 ul {
    list-style: none;
    flex: 1;
}

.location-1 img {
    flex: 1;
    height: 256px;
    width: 256px;
}
.location-2 {
    display: flex;
    flex-direction: row-reverse;
    border: #b3780d solid 4px;
    margin-top: 5px;
    padding: 5px;
}

.location-2 ul {
    list-style: none;
    flex: 1;
}

.location-2 img {
    flex: 1;
    height: 256px;
}
/* footer section */
.footer {
    height: 100px;
    padding-top: 15px;
    background-color: #e5e7eb;
    text-align: center;
}
